@using WebApplication12.Models
@model ProductsSearchViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Orders</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container mt-5">
        <form action="/northwind/productsearchresults">
            <div class="row">
                <div class="col-md-10">
                    <input class="form-control form-control-lg" 
                           name="searchtext" placeholder="Search Products..."
                           value="@Model.SearchText"
                           />
                </div>
                <div class="col-md-2">
                    <button class="btn btn-success btn-block">Search</button>
                </div>
            </div>
        </form>

        <table class="table table-hover table-striped table-bordered mt-4">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Quantity Per Unit</th>
                    <th>Unit Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Product p in Model.Products)
                {
                    <tr>
                        <td>@p.Id</td>
                        <td>@p.Name</td>
                        <td>@p.QuantityPerUnit</td>
                        <td>@p.UnitPrice.ToString("C")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
